<ion-header>

  <ion-navbar>
    <ion-title>Inicio</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
    
      <ion-item *ngIf="!showDeporteList()">
        No hay productos en la base de datos
      </ion-item>
    
      <ion-refresher (ionRefresh)="refreshDeporte($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    
      <ion-list inset *ngIf="showDeporteList()">
        <ion-item-sliding *ngFor="let item of deporte">
    
          <ion-item ion-item>
           <p> {{item.iddeporte}}</p>
           <p>  {{item.nombredeporte}}</p>
          </ion-item>
    
          <ion-item-options side="right">
            <button ion-button (click)="editProduct(item)">
              <ion-icon name="list"></ion-icon>
            </button>
            <button ion-button color="danger" (click)="deleteDeporte(item._id)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-item-options>
    
        </ion-item-sliding>
      </ion-list>
    
      <ion-fab right bottom>
        <button ion-fab class="fixed" (click)="newDeporte()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab>
    
    </ion-content>